<%= form_with model: Organization.new, method: :get, local: true, class: 'form-inline mx-auto' do |f| %>
  <div class="form-group mb-2">
    <%= f.label :name, "Search for: ", class: 'mr-2' %>
    <%= f.text_field :name, class: 'form-control mr-2' %>
  </div>
  <%= f.submit "Search", class: 'btn btn-primary mb-2' %>
<% end %>