<% provide(:title, @organization.name) %>

<section class="mb-5">
  <h1>
    <%= @organization.name %>
  </h1>
  <hr class="-5">
  <p><%= @organization.description %></p>
  <div><%= link_to("Back to All Organizations", organizations_path) %></div>
</section>
